.btn_container{
	display: flex;
	height: 100px;
	width: 200px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.clear{
	background-color: black;
	color: bisque;
	font-size: 30px;
	cursor: pointer;
	width: 60px;
}
button{
	font-size: 30px;
}
input{
	font-size: 30px;
	width: 180px;
}
